/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 1-Apr-2016, 2:33:16 PM
    Author     : Nathan Ward <nateward.nw@gmail.com>
*/

@font-face {
                font-family: digital;
                src: url("../fonts/digital-7.regular.ttf") /* EOT file for IE */
            }
            html{
                background-image: url(../img/Ilyas_thumb.jpg);
                background-attachment: fixed;
            }

            body{
                margin-top: 500px;
            }
            div#page_backing{
                padding-bottom: 300px;
            }
            div#totalDisplay{
             font-family: digital;   
            }